<div *ngIf="isInitialized">
  <h4>{{name}}</h4>
  <canvas baseChart [datasets]="chartData" [labels]="radarChartLabels" [chartType]="radarChartType" [options]="radarChartOptions"
    [colors]="colors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  <canvas baseChart [datasets]="chartData" [labels]="lineChartLabels" [chartType]="lineChartType" [options]="lineChartOptions"
    [colors]="colors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>