<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="http://via.placeholder.com/150x150" class="img-thumbnail" alt="Profile Image">
    </div>
    <div class="col-sm-4">
      <h2>Progress Report</h2>
      <label>{{startDate | date:'dd MMMM yyyy'}} to {{endDate | date:'dd MMMM yyyy'}}</label>
      <h3>{{patient?.firstname}} {{patient?.lastname}}</h3>
    </div>
    <div class="col-sm-4">
      <img src="http://via.placeholder.com/150x150" class="img-thumbnail" alt="Profile Image">
    </div>
  </div>
  <div class="row padded">
    <div class="col-sm-4">
      <p>&nbsp;</p>
      <p>Address</p>
    </div>
    <div class="col-sm-8">
      <p>{{patient?.dateOfBirth | date:'yyyy-MM-dd'}} (Age XX)</p>
      <p>{{patient?.address?.street}}, {{patient?.address?.city?.name}}, {{patient?.address?.province?.name}}, {{patient?.address?.country?.name}},
        {{patient?.address?.postalCode}}</p>
    </div>
  </div>
  <div class="row padded">
    <h4>Referring Doctors</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email Address</th>
          <th>Contact Number</th>
          <th>HPCSA Number</th>
          <th>Practice Number</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="row padded">
    <h4>Treating Doctors</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email Address</th>
          <th>Contact Number</th>
          <th>HPCSA Number</th>
          <th>Practice Number</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="row padded">
    <h4>Episodes of Care</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Facility</th>
          <th>Onset Date</th>
          <th>Admission Date</th>
          <th>Discharge Date</th>
          <th>ICD10 Code</th>
          <th>Impairment Group</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let episodeOfCare of episodeOfCares" class="{{episodeOfCare.dischargeTimestamp? '' : 'text-danger'}}">
          <td>{{episodeOfCare.facility?.name}}</td>
          <td>{{episodeOfCare.onsetTimestamp| date: 'yyyy-MM-dd'}}</td>
          <td>{{episodeOfCare.admissionTimestamp | date: 'yyyy-MM-dd HH:mm'}}</td>
          <td>{{episodeOfCare.dischargeTimestamp | date: 'yyyy-MM-dd HH:mm'}}</td>
          <td>{{episodeOfCare.diagnoses?.name}}</td>
          <td>{{episodeOfCare.impairmentGroup?.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row padded">
    <h4>Diagnoses</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ICD10 Code</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="row padded">
    <h4>Measurement Tools</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Frequency</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="row padded">
    <h4>Case Manager Notes</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="row padded">
    <h3>Charts</h3>
    <div>
      <app-vital-signs [data]="visits"></app-vital-signs>
    </div>
    <div *ngFor="let chart of charts">
      <app-completed-measurement-tool [data]="chart.data" [name]="chart.name"></app-completed-measurement-tool>
    </div>
  </div>
</div>